.procedure-section-wrapper {
  font-family: "Poppins";
}
.procedure-section-wrapper h2 {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}
.procedure-section-wrapper h2 span {
  font-weight: 700;
  text-transform: uppercase;
}
hr {
  border: 1px solid rgb(245, 244, 244);
  width: 1080px;
}

.procedure-cards {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
