body {
  background-color: #fdfdfd;
}
.arrow {
  height: 30px;
  width: 50px;
}

.article-card {
  width: 350px;
  height: 397px;
  margin-right: 20px;
  box-shadow: 0px 32px 8px 2px rgba(212, 212, 212, 0.75);
  -webkit-box-shadow: 0px 32px 8px 2px rgba(212, 212, 212, 0.75);
  -moz-box-shadow: 0px 32px 8px 2px rgba(212, 212, 212, 0.75);
  opacity: 0;
  transform: translateY(40px);
  animation: slideRightToTop 1.5s ease forwards;
  animation-delay: 1.5s;
}

@keyframes slideRightToTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  height: 233px;
  width: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}

.card:hover::after {
  background: rgba(0, 0, 0, 0.603);
}

.card1 {
  background-image: url("../../images/computerwork.png");
}
.card2 {
  background-image: url("../../images/stress3.png");
}
.card3 {
  background-image: url("../../images/masage2.png");
}
.article-date {
  width: 117px;
  height: 71px;
  background-color: #fe423d;
  color: white;
  padding: 8px 16px;
  font-size: 22px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-content {
  padding: 24px;
  background-color: white;
}

.article-content h3 {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #969696;
  margin: 0;
}

.article-content p {
  font-size: 20px;
  font-weight: 600;
  color: #212529;
  margin: 0 0 5px 0;
  background-color: white;
}

.article-content p:hover {
  color: #fe423d;
}

.article-content button {
  border: none;
  background-color: white;
  display: flex;
  justify-self: center;
  align-items: center;
  color: #fe423d;
  font-weight: 600;
}

.button-place {
  display: flex;
}
