form {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  width: 525px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  -webkit-box-shadow: -1px -1px 4px 0px #cfcfcf;
  box-shadow: -1px -1px 4px 0px #cfcfcf;
  position: absolute;
  top: 795px;
  left: 310px;
  z-index: 1;
}

form label {
  font-weight: 700;
  font-size: 28px;
}
form p {
  color: #a1a1a1;
}
input {
  width: 440px;
  padding: 10px;
  border-radius: 5px;
  border: #97979767 solid 1px;
}
select {
  max-width: 440px;
  padding: 10px;
  appearance: none;
  border-radius: 5px;
  border: #97979767 solid 1px;
}
textarea {
  max-width: 440px;
  resize: none;
  height: 80px;
  border-radius: 5px;
  border: #97979767 solid 1px;
  color: #a1a1a1;
}

form button {
  color: white;
  background-color: #fe432d;
  border: none;
  padding: 16px 48px;
  width: 159px;
  height: 55px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
form button:hover {
  background-color: #fe6763;
}
.success-popup {
  color: green;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 80%;
  left: 20%;
  z-index: 100;
}

.appear-delay {
  opacity: 0;
  transform: translateY(40px);
  animation: slideRightToTop 1s ease forwards;
  animation-delay: 1s;
}

@keyframes slideRightToTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
