.footer-wrapper {
  position: relative;
}
.banner {
  height: 120px;
  width: 120px;
  top: -52px;
  left: 24%;
  position: absolute;
}
.footer-main-content {
  display: flex;
  justify-content: center;
  border-top: 4px solid #212529;
  color: #777777;
  background-color: #212529;
  padding: 48px 0;
}

.footer-main-content > div {
  width: 356px;
  padding: 10px;
}

.footer-main-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-main-content li {
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.white-color {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.invisible {
  color: #212529;
  margin: 0 0 14px;
}

.first-footer .about-list li {
  margin-bottom: 10px;
  line-height: 1.5;
}

.first-footer .about-license {
  color: white;
  font-weight: bold;
}

.phone-number a {
  font-size: 29px;
  font-weight: 800;
  text-decoration: none;
  color: inherit;
}

.margin-bottom {
  margin-bottom: 20px;
}

.no-margin {
  margin: 0;
}

.footer-main-content img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.contact-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact-divider {
  border: none;
  border-bottom: 3px solid #fb4843;
  width: 50px;
  margin: 22px 0 22px 50px;
  padding: 0;
}

/* second footer */

.second-footer {
  padding: 24px 0;
  background-color: #1c2021;
  color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  font-size: 11px;
}
.footer-logo {
  width: 180px;
  height: 80px;
  cursor: pointer;
}
.second-footer ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
.second-footer a {
  color: #777777;
  text-decoration: none;
}
.second-footer a:hover {
  color: white;
}
