.review-slider-wrapper {
  padding: 53px 0;
  background-color: #fe423d;
  color: white;
  opacity: 0;
  transform: translateY(40px);
  animation: slideRightToTop 0.5s ease forwards;
  animation-delay: 0.5s;
}
@keyframes slideRightToTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.review-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
  font-size: 49px;
}
.swiper-pagination {
  position: static;
  margin-top: 15px;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #fc231b !important;
}
.review-card {
  position: relative;
  padding: 20px 20px;
  font-size: 21px;
  background: #fe423d;
  text-align: center;
}

.review-card::before {
  content: "“";
  position: absolute;
  top: 0px;
  left: 20%;
  font-size: 80px;
  color: #ffffff;
}

.review-card::after {
  content: "”";
  position: absolute;
  bottom: 0px;
  right: 20%;
  font-size: 80px;
  color: white;
}

.slide-up {
  opacity: 0;
  transform: translateY(40px);
  animation: slideRightToTop 1s ease forwards;
  animation-delay: 1s;
}
@keyframes slideRightToTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
